{% extends 'base.html.twig' %}

{% block title %}Add Recipe{% endblock %}

{% block body %}

    <script>
        $('.btn-add').click(function(event) {
            var collectionHolder = $('#' + $(this).attr('data-target'));
            var prototype = collectionHolder.attr('data-prototype');
            var form = prototype.replace(/__name__/g, collectionHolder.children().length);

            collectionHolder.append(form);

            return false;
        });
        $('.btn-remove').live('click', function(event) {
            var name = $(this).attr('data-related');
            $('*[data-content="'+name+'"]').remove();

            return false;
        });
    </script>
    <div>
        {{ form_start(recipe_form) }}
        {{ form_widget(recipe_form) }}

        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" value="Send" class="btn btn-success">
            </div>
            <form action="{{ path('add_post') }}" method="POST">
                {{ form_errors(form) }}
                <fieldset>
                    <legend>Add a new post</legend>
                    {{ form_row(form.title) }}
                    {{ form_row(form.content) }}

                    <div id="post_tags" data-prototype="{{ _self.widget_prototype(form.tags, 'Remove tag')|escape }}">
                        {% for widget in form.tags.children %}
                            {{ _self.widget_prototype(widget, 'Remove tag') }}
                        {% endfor %}
                    </div>

                    <a class="btn-add" data-target="post_tags">Add tag</a>
                </fieldset>

                {{ form_widget(form._token) }}

                <input type="submit" value="Add post" />
            </form>
        </div>
        {% macro widget_prototype(widget, remove_text) %}
            {% if widget.get('prototype') %}
                {% set form = widget.get('prototype') %}
                {% set name = widget.get('prototype').get('name') %}
            {% else %}
                {% set form = widget %}
                {% set name = widget.get('full_name') %}
            {% endif %}

            <div data-content="{{ name }}">
                <a class="btn-remove" data-related="{{ name }}">{{ remove_text }}</a>
                {{ form_widget(form) }}
            </div>
        {% endmacro %}

        {{ form_end(recipe_form) }}
    </div>

{% endblock %}
